.favorites-container {
    margin: 0 auto;
    padding-left: 150px;
    padding-right: 150px;
  }
  
  .favorites-title {
    text-align: center; /* Center the title */
    margin-top: 20px; /* Add some space at the top */
    font-size: 2em; /* Increase the font size */
    font-weight: bold;
  }
  
  .post-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  @media (max-width: 768px) {
    .post-list {
      grid-template-columns: 1fr;
    }
  }
  