.home-container {
  margin: 0 auto; /* Center the container horizontally */
  padding-left: 150px;
  padding-right: 150px;
}

.post-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-gap: 20px; /* Gap between posts */
}

@media (max-width: 768px) {
  .post-list {
    grid-template-columns: 1fr; /* One column on smaller screens */
  }
}
