.sublease-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  gap: 30px;
}

.left-column {
  flex: 2
}


.left-column h2, .left-column h3 {
  text-align: left;
}


.address-header {
  color: #004494;
  margin-top: 5px;
}

.right-column {
  flex: 1;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  height: 780px;
}

.slider {
  width: 800px;
  position: relative;
}

.apartment-image {
  width: 100%;
  height: 500px; /* Set a fixed height for the image */
  object-fit: cover; /* Ensures the image covers the container */
  border-radius: 8px; /* Add border radius for smoother edges */
}

.rotate-180 {
  transform: rotate(180deg);
}

.thumbnail-slider {
  width: 800px;
}

.thumbnail {
  padding: 5px;
}

.thumbnail img {
  width: 95%;
  height: 100px;
  object-fit: cover;
  border: 2px solid transparent;
  cursor: pointer;
}

.thumbnail img:hover,
.thumbnail img.slick-current {
  border: 2px solid #e37a13;
}

.rent-details {
  text-align: center;
  margin-bottom: 20px;
}

.rent-details h3 {
  color: #e37a13; /* Rent Price Color */
}

.rent-amount {
  font-size: 25px; 
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.rent-icon {
  font-size: 30px !important;
  color: #004494;
  margin-bottom: 5px;
}

.event-icon {
  font-size: 30px !important;
  color: #989898;
  margin-bottom: -5px;
  margin-right: 5px;
}

.rent-text {
  font-size: 14px;
}

.bed-bath-sqft {
  font-size: 18px;
}

.dates {
  margin: 10px 0;
  padding: 2px;
  background-color: white;
}

.send-a-message-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.send-a-message {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

.to-landlord {
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 20px;
  font-style: italic;
}

.message-box {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
}

.message-box form {
  display: flex;
  flex-direction: column;
}

.message-box input,
.message-box textarea {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  font-family: Arial, sans-serif;
  border-radius: 5px;
}

.message-box input[readonly] {
  background-color: #f0ebe5;
}

.message-box textarea {
  resize: vertical;
  min-height: 25px;
  height: 100px;
  max-height: 300px;
}

.message-box button {
  background-color: #004494;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 150px;
  cursor: pointer;
}

.message-box button:hover {
  background-color: #0052b0;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.conversation-notice {
  font-size: 12px;
  color: #989898;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.messages-link {
  color: #004494;
  text-decoration: none; 
  cursor: pointer;
  padding-left: 4px;
}

.messages-link:hover {
  text-decoration: underline;
}

.edit-delete-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; /* Adds spacing above the buttons */
}

.edit-button {
  background-color: #FFD700; /* Yellow color */
  color: #000; /* Black text */
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.edit-button:hover {
  background-color: #FFC107; /* Slightly darker yellow on hover */
}

.delete-button {
  background-color: #FF6347; /* Red color */
  color: #FFF; /* White text */
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.delete-button:hover {
  background-color: #FF4500; /* Slightly darker red on hover */
}
