/* NavBar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
 /* background-color: rgba(192, 192, 192, 0.479); */
  padding: 10px;
  color: white;
}

.navbar-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-image {
  height: 100px;
}

.navbar-search .search-button {
  padding: 8px 16px;
  background-color: #e37a13;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px; /* Slightly rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.navbar-menu {
  position: relative;
  display: inline-block;
}

.menu-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px; /* Slightly rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 150px;
}

.navbar-menu:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
