html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.messaging-container {
  display: flex;
  height: calc(100vh - 100px); /* Adjust height to leave enough space for the navbar */
  margin-top: -10px; /* Reduce negative margin to avoid overlap */
}

.user-list {
  height: 100%;
  width: 25%;
  background-color: #f8f2f3;
  border: 1px solid #ccc;
  overflow-y: auto;
}

.user-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.user-item:hover {
  background-color: #e0e0e0;
}

.user-item.selected {
  background-color: #e0e0e0;
}


.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
  object-fit: cover;
}

.user-name {
  font-size: 20px;
  padding-left: 10px;
  font-weight: bold;
  color: #333;
}

.messages-container {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.message {
  margin: 8px 0;
  padding: 12px;
  border-radius: 5px;
  max-width: 60%;
}


.sent {
  background-color: #007aff;
  color: white;
  align-self: flex-end;
  border-radius: 20px 20px 0 20px;
}

.received {
  background-color: #e5e5ea;
  color: black;
  align-self: flex-start;
  border-radius: 20px 20px 20px 0; 
}

.send-message {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 5px;
}

.message-wrapper {
  display: flex;
  flex-direction: column; /* Stack messages and timestamps vertically */
}

.timestamp {
  font-size: 12px;
  color: #888;
}

.sent-timestamp {
  align-self: flex-end; /* Timestamp for sent message aligned to the right */
}

.received-timestamp {
  align-self: flex-start; /* Timestamp for received message aligned to the left */
}

.send-message input {
  flex: 1;
  padding: 20px !important;
  border: 1px solid #ccc;
  border-radius: 50px !important;
  font-size: 16px;
}

.send-message button {
  background-color: transparent;
  color: gray;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 35px;
}

.send-message button:hover {
  color: #007bff;
}
